---
title: Zencoder Documentation
parent: null
---
<style>
  h1 i.fal,
  h1 i.fab,
  h1 i.fas,
  h1 i.far {
    font-size: 3rem;

    color: {{ site.product_color }};
    margin-right: 1rem;
  }

  h4 i.fal,
  h4 i.fab,
  h4 i.fas,
  h4 i.far {
    font-size: inherit;

    color: {{ site.product_color }};
  }

  .card-icon i {
    color: {{ site.product_color }};
  }

  .bcls-card-small ul {
    list-style: none;
    margin-left: -2.9em;
    font-size: small;
  }

  .bcls-card-small h5 {
    font-size: 1rem;
  }

  .bcls-card-small h4 {
    font-size: 1.1rem;
    margin-left: -1.5em;
  }
</style>

<article class="landing-page-wrapper">
  <section class="landing-page-header" id="landing_page_header">
    <h1>{{ site.title }}</h1>

    <p>{{ site.description }}</p>
  </section>
  <section class="card-wrapper">
    {% for section in site.data.navigation offset:1 %}
    <section class="bcls-card-small" onclick="window.location.href='{{ section.url }}'">

      <div class="card-icon">
        {{ section.icon }}
      </div>

      <div class="card-content">
        <h2>{{ section.name }}</h2>
        <ul>
          {% for doc in section.docs limit:4 %}
          <li><a href="{{ doc.url }}">{{ doc.name }}</a></li>
          {% endfor %}
        </ul>
        <p style="font-size:small;"><a href="{{ section.url }}">See more...</a></p>
      </div>
    </section>
    {% endfor %}
  </section>
</article>