<header>
  <div class="div-header">
    <a href="/"><img class="product-logo" src="https://learning-services-media.brightcove.com/doc-assets/site-assets/images/site/product-logos/logo-bc-zencoder.svg" alt="product logo" style="max-height: 100px;max-width: 232px;"></a>
    <span class="secondary-nav"><a href="https://supportportal.brightcove.com/s/login/?language=en_US"><img src="https://learning-services-media.brightcove.com/doc-assets/site-assets/images/site/support.png" alt="support"> Contact Support</a> <span style="vertical-align: top;margin-left:1em;margin-right:1em;">|</span> <a href="https://status.brightcove.com/"><img src="https://learning-services-media.brightcove.com/doc-assets/site-assets/images/site/status.png" alt="system status"> System Status</a></span>
  </div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb arr-right">
      {% if page.parent %}
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      {% endif %}
      {% if page.grandparent_name %}
      <li class="breadcrumb-item"><a href="{{ page.grandparent_path }}">{{ page.grandparent_name }}</a></li>
      {% endif %}
      {% if page.parent and page.parent != "Home" %}
      <li class="breadcrumb-item"><a href="{{ page.dir }}">{{ page.parent }}</a></li>
      {% endif %}
      <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
    </ol>
  </nav>
</header>