<!-- search bar -->
<div id="search_bar" class="search-bar">
  <!-- TODO - cx value below must be changed for each site and new GCS instance set up-->
  <!-- <script async src="https://cse.google.com/cse.js?cx=017969773216783359937:6sd3di5mwuw"></script> -->
  <p style="text-align: center;">
<button style="margin-top:2rem;padding-right: 4rem;padding-left:4rem;background:none;border:2px #999 solid;" onclick="javascript:displayChat()">Search {{ site.product }} Docs &nbsp;&nbsp; <i class="fal fa-search"></i></button> </p>

    <div id="talla_chat" style="width: 366px; height: 45%; display: none; position: fixed; top: 9rem; right: 10%; z-index: 999999;">
    </div>
</div>
