---
title: Encoding Settings
description: Detailed explanation of all encoding settings. <p><a href="/encoding-settings/quick-reference.html">Quick Reference</a>.</p>
parent: Home
---

<h1>{{ page.title }}</h1>
<article class="bcls-article">

  <summary>{{ page.description }}</summary>
  <section class="bcls-section" id="page_wrapper">
    {% for item in site.data.navigation %}
      {% if item.name == page.title %}
      <section style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-between;">
        {% for entry in item.docs %}
        <div style="padding: 1em;">
            {% if entry.docs %}
                <h3><a href="{{ entry.url }}">{{ entry.name }}</a></h3>
                <ul class="landing-page-item">
                  {% for subdoc in entry.docs %}
                  <li style="margin-left: -1.5em;"><a href="{{ subdoc.url }}">{{ subdoc.name }}</a></li>
                  {% endfor %}
                </ul>
            {% else %}
            <p><a href="{{ entry.url }}">{{ entry.name }}</a></p>
            {% endif %}
          </div>
          {% endfor %}
      </section>
      {% endif %}
    {% endfor %}
  </section>
</article>
