---
title: Encoding Settings
description: Detailed explanation of all encoding settings
icon: '<i class="fal fa-cogs"></i>'
parent: Home
---
<style>
  h1 i.fal, h1 i.fab, h1 i.fas, h1 i.far {
    font-size: 3rem;
    color:{{site.product_color}};
    margin-right: .5rem;
  }
  .card-icon i {
    color: {{site.product_color}};
  }

</style>

<article class="bcls-article">
  <h1>{{ page.icon }} {{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
  <section class="card-wrapper">
    {% for item in site.data.navigation %}
      {% if item.section == page.title %}
        {% for subsection in item.docs %}
          {% for doc in subsection.docs %}
            <section class="bcls-card">
              <div class="card-content">
                <h2>(( doc.name ))/h2>
                <ul>
                  {% for subdoc in docs.docs %}
                        <li><a href="{{ subdoc.url }}">{{ subdoc.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </section>
          {% endfor %}
        {% endfor %}
      {% endif %}
    {% endfor %}
  </section>
</article>
